fastapi>=0.115.0
uvicorn>=0.30.0
pydantic>=2.9.0
gunicorn>=22.0.0
python-multipart>=0.0.12
pypdf>=4.3.0
pytesseract>=0.3.10
pdf2image>=1.17.0
Pillow>=10.0.0
docling
langchain-text-splitters>=0.3.0
tiktoken>=0.7.0
openai>=1.50.0
python-dotenv>=1.0.0
qdrant-client>=1.11.0
fastembed>=0.4.0
SQLAlchemy>=2.0.36
redis>=5.2.0
psycopg[binary]>=3.2.3
bcrypt>=4.0.1
python-jose[cryptography]>=3.3.0
httpx>=0.28.1
pydantic-settings>=2.6.0
langgraph>=0.2.39
langchain-community>=0.3.0
langchain-experimental>=0.3.0
langchain-openai>=0.2.0
arxiv>=2.1.0
fastapi-sso>=0.15.0
duckduckgo-search>=6.3.0
httpx-sse>=0.4.0
